body {
  background-color: olive;
}

h1 {
  color: darkblue;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 5px;
}

a {
  display: block;
  width: 220px;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  background-color: darkblue;
}

a:hover,
a:focus {
  color: yellow;
}

a:active {
  text-decoration: underline;
}


